#iconPicker{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(97, 224, 224);
    color: black;
    cursor: pointer;
    /* height: 50px;
    width: 50px; */
    margin:10px;
    padding: 10px 10px;
    border-radius: 20px;
}

#iconPicker:hover{
    background-color: aqua;
    filter: drop-shadow(0 0 2em #61dafbaa);
}

#iconPic{
    background-color:rgb(97, 224, 224);
    color: black;
    cursor: pointer;
    height: 40px;
    width: 40px;
    margin: 8px;
    padding: 15px;
    border-radius: 20px;
    transition: all 0.2s;
}
#iconPic:hover{
    background-color: aqua;
    scale: 1.2;
}
